<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.BaggageTaskMapper">

    <insert id="addRecord" useGeneratedKeys="true" keyProperty="id" parameterType="com.entity.dto.BaggageLineData">
        insert into report_demention_count(count,demention_id,demention_name,count_date)
        values (#{count},#{dementionId},#{dementionName},#{time})
    </insert>

</mapper>