<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.BaggageMapper">


    <sql id="Base_Column_List">
    </sql>

    <select id="countByAirLine" parameterType="com.entity.dto.QueryParam" resultType="com.entity.dto.BaggageLineData">
        <if test="type==0">
            SELECT count(bg.id) count,left(bg.FlightNo,2) type,
            <if test="granularity==1">year(bg.FlightDate) time</if>
            <if test="granularity==2">month(bg.FlightDate)+'月份' time</if>
            <if test="granularity==3">DATE_FORMAT(bg.FlightDate,'%Y年第%u周') time</if>
            <if test="granularity==4">DATE_FORMAT(bg.FlightDate,'%Y-%m-%d %H点') time</if>
            <if test="granularity==0">bg.FlightDate time</if>
            from baggage bg
            where bg.FlightDate between #{beginTime} and #{endTime}
            GROUP BY type,time;
        </if>
        <if test="type==1">
            SELECT count(bg.id) count,al.DepartureTerminal type,
            <if test="granularity==1">year(bg.FlightDate) time</if>
            <if test="granularity==2">month(bg.FlightDate)+'月份' time</if>
            <if test="granularity==3">DATE_FORMAT(bg.FlightDate,'%Y年第%u周') time</if>
            <if test="granularity==4">DATE_FORMAT(bg.FlightDate,'%Y-%m-%d %H点') time</if>
            <if test="granularity==0">bg.FlightDate time</if>
            from baggage bg LEFT JOIN airline al on bg.FlightNo = al.NO
            where bg.FlightDate between #{beginTime} and #{endTime}
            GROUP BY al.DepartureTerminal,time;
        </if>
    </select>

    <select id="countByTrace" parameterType="com.entity.dto.QueryParam" resultType="com.entity.dto.BaggageLineData">
        SELECT count(bt.BaggageID) as count, btf.NodeName as type,
        <if test="granularity==1">year(bt.OperateTime) time</if>
        <if test="granularity==2">month(bt.OperateTime)+'月份' time</if>
        <if test="granularity==3">DATE_FORMAT(bt.OperateTime,'%Y年第%u周') time</if>
        <if test="granularity==4">DATE_FORMAT(bt.OperateTime,'%Y-%m-%d %H点') time</if>
        <if test="granularity==0">bt.OperateTime time</if>

        from baggagetrace bt LEFT JOIN baggagetraceconfig btf
        on bt.BaggageTraceConfigID=btf.id
        where bt.OperateTime between #{beginTime} and #{endTime}
        and btf.id IN
        <foreach item="item" index="index" collection="traceList" open="(" separator="," close=")">
            #{item}
        </foreach>
        GROUP BY btf.NodeName,time
    </select>


    <select id="countByResource" parameterType="com.entity.dto.QueryParam" resultType="com.entity.dto.BaggageLineData">
        <if test="type==0">
            SELECT count(bt.BaggageID) as count, bt.OperatorID as type,
            <if test="granularity==1">year(bt.OperateTime) time</if>
            <if test="granularity==2">month(bt.OperateTime)+'月份' time</if>
            <if test="granularity==3">DATE_FORMAT(bt.OperateTime,'%Y年第%u周') time</if>
            <if test="granularity==4">DATE_FORMAT(bt.OperateTime,'%Y-%m-%d %H点') time</if>
            <if test="granularity==0">bt.OperateTime time</if>
            from baggagetrace bt LEFT JOIN baggagetraceconfig btf
            on bt.BaggageTraceConfigID=btf.id
            where bt.OperateTime between #{beginTime} and #{endTime}
            GROUP BY bt.OperatorID,time
        </if>
        <if test="type==1">
            SELECT count(bt.BaggageID) as count, r.id as type,
            <if test="granularity==1">year(bt.OperateTime) time</if>
            <if test="granularity==2">month(bt.OperateTime)+'月份' time</if>
            <if test="granularity==3">DATE_FORMAT(bt.OperateTime,'%Y年第%u周') time</if>
            <if test="granularity==4">DATE_FORMAT(bt.OperateTime,'%Y-%m-%d %H点') time</if>
            <if test="granularity==0">bt.OperateTime time</if>
            from baggagetrace bt LEFT JOIN baggagetraceconfig btf
            on bt.BaggageTraceConfigID=btf.id
            LEFT JOIN resource r
            on r.BaggageTraceConfigID=btf.id
            where bt.OperateTime between #{beginTime} and #{endTime}
            GROUP BY r.id ,time
        </if>
    </select>

    <select id="countByBaggage" parameterType="com.entity.dto.QueryParam" resultType="com.entity.dto.BaggageLineData">
        <if test="type==0">
            SELECT count(bg.id) count,bg.SpecialBaggageType type ,
            <if test="granularity==1">year(bg.FlightDate) time</if>
            <if test="granularity==2">month(bg.FlightDate)+'月份' time</if>
            <if test="granularity==3">DATE_FORMAT(bg.FlightDate,'%Y年第%u周') time</if>
            <if test="granularity==4">DATE_FORMAT(bg.FlightDate,'%Y-%m-%d %H点') time</if>
            <if test="granularity==0">bg.FlightDate time</if>
            from
            baggage bg
            where bg.FlightDate between #{beginTime} and #{endTime}
            GROUP BY bg.SpecialBaggageType,time
        </if>
        <if test="type==1">
            SELECT count(bg.id) count,bg.AbnormalCode type ,
            <if test="granularity==1">year(bg.FlightDate) time</if>
            <if test="granularity==2">month(bg.FlightDate)+'月份' time</if>
            <if test="granularity==3">DATE_FORMAT(bg.FlightDate,'%Y年第%u周') time</if>
            <if test="granularity==4">DATE_FORMAT(bg.FlightDate,'%Y-%m-%d %H点') time</if>
            <if test="granularity==0">bg.FlightDate time</if>
            from
            baggage bg
            where bg.FlightDate between #{beginTime} and #{endTime}
            GROUP BY bg.AbnormalCode,time
        </if>
    </select>

    <select id="drillData" parameterType="com.entity.dto.DrillParam" resultType="com.entity.dto.BaggageLineData">
        select count(bg.ID) as count,bg.FlightNo type,
        <if test="granularity==1">year(bg.FlightDate) time</if>
        <if test="granularity==2">month(bg.FlightDate)+'月份' time</if>
        <if test="granularity==3">DATE_FORMAT(bg.FlightDate,'%Y年第%u周') time</if>
        <if test="granularity==4">DATE_FORMAT(bg.FlightDate,'%Y-%m-%d %H点') time</if>
        <if test="granularity==0">bg.FlightDate time</if>
        from baggage bg
        LEFT JOIN airline al on al.No = bg.FlightNo
        where bg.FlightDate between #{beginTime} and #{endTime}
        <if test="companyCode!=null and companyCode!=''">and al.CompanyCode = #{companyCode}</if>
        <if test="teminal!=null and teminal!=''">
            and al.DepartureTerminal = #{teminal}
            or al.LandingTerminal = #{teminal}
        </if>
        GROUP BY bg.FlightNo,time;
    </select>

    <!--异常行李统计-->

    <select id="countErrByAirLine" resultType="com.entity.dto.BaggageLineData">
        <if test="type==0">
            SELECT count(bg.id) count,left(bg.FlightNo,2) type,
            <if test="granularity==1">year(bg.FlightDate) time</if>
            <if test="granularity==2">month(bg.FlightDate)+'月份' time</if>
            <if test="granularity==3">DATE_FORMAT(bg.FlightDate,'%Y年第%u周') time</if>
            <if test="granularity==4">DATE_FORMAT(bg.FlightDate,'%Y-%m-%d %H点') time</if>
            <if test="granularity==0">bg.FlightDate time</if>
            from baggage bg
            where bg.FlightDate between #{beginTime} and #{endTime} and
            (
            bg.AbnormalCode!=''
            and bg.AbnormalCode!=null
            )
            GROUP BY type, time;
        </if>
        <if test="type==1">
            SELECT count(bg.id) count,al.DepartureTerminal type,
            <if test="granularity==1">year(bg.FlightDate) time</if>
            <if test="granularity==2">month(bg.FlightDate)+'月份' time</if>
            <if test="granularity==3">DATE_FORMAT(bg.FlightDate,'%Y年第%u周') time</if>
            <if test="granularity==4">DATE_FORMAT(bg.FlightDate,'%Y-%m-%d %H点') time</if>
            <if test="granularity==0">bg.FlightDate time</if>
            from baggage bg LEFT JOIN airline al on bg.FlightNo = al.NO
            where bg.FlightDate between #{beginTime} and #{endTime} and
            (
            bg.AbnormalCode!=''
            and bg.AbnormalCode!=null
            )
            GROUP BY al.DepartureTerminal,time;
        </if>
    </select>
    <select id="countErrByTrace" resultType="com.entity.dto.BaggageLineData">
        select B.CurrnetPlaceID type,count(*) value,
        <if test="granularity==1">year(A.FlightDate time) time</if>
        <if test="granularity==2">month(A.FlightDate time)+'月份' time</if>
        <if test="granularity==3">DATE_FORMAT(A.FlightDate time,'%Y年第%u周') time</if>
        <if test="granularity==4">DATE_FORMAT(A.FlightDate time,'%Y-%m-%d %H点') time</if>
        <if test="granularity==0">A.FlightDate time</if>
        from baggage A
        left join baggagetrace B on B.BaggageID=A.ID
        where
        (A.AbnormalCode!=''
        and A.AbnormalCode is not null)
        and A.FlightDate between #{beginTime} and #{endTime}
        group by B.CurrnetPlaceID,A.FlightDate
        order by A.FlightDate;
    </select>
    <!--0:操作员  1:设备-->
    <select id="countErrByResource" resultType="com.entity.dto.BaggageLineData">
        <if test="type==0">
            SELECT count(bt.BaggageID) as count, bt.OperatorID as type,
            <if test="granularity==1">year(bt.OperateTime) time</if>
            <if test="granularity==2">month(bt.OperateTime)+'月份' time</if>
            <if test="granularity==3">DATE_FORMAT(bt.OperateTime,'%Y年第%u周') time</if>
            <if test="granularity==4">DATE_FORMAT(bt.OperateTime,'%Y-%m-%d %H点') time</if>
            <if test="granularity==0">bt.OperateTime time</if>
            from baggagetrace bt LEFT JOIN baggagetraceconfig btf
            on bt.BaggageTraceConfigID=btf.id
            left join baggage bg on bg.id = bt.BaggageID
            where bt.OperateTime between #{beginTime} and #{endTime}
            and (bg.AbnormalCode!=''
            and bg.AbnormalCode!=null)
            GROUP BY bt.OperatorID,time
        </if>
        <if test="type==1">
            SELECT count(bt.BaggageID) as count, r.id as type,
            <if test="granularity==1">year(bt.OperateTime) time</if>
            <if test="granularity==2">month(bt.OperateTime)+'月份' time</if>
            <if test="granularity==3">DATE_FORMAT(bt.OperateTime,'%Y年第%u周') time</if>
            <if test="granularity==4">DATE_FORMAT(bt.OperateTime,'%Y-%m-%d %H点') time</if>
            <if test="granularity==0">bt.OperateTime time</if>
            from baggagetrace bt LEFT JOIN baggagetraceconfig btf
            on bt.BaggageTraceConfigID=btf.id
            LEFT JOIN resource r
            on r.BaggageTraceConfigID=btf.id
            left join baggage bg on bg.id = bt.BaggageID
            where bt.OperateTime between #{beginTime} and #{endTime}
            and (bg.AbnormalCode!=''
            and bg.AbnormalCode!=null)
            GROUP BY r.id ,time
        </if>
    </select>
    <select id="countErrByBaggage" resultType="com.entity.dto.BaggageLineData">
        select A.SpecialBaggageType type,count(A.id) value,
        <if test="granularity==1">year(A.FlightDate time) time</if>
        <if test="granularity==2">month(A.FlightDate time)+'月份' time</if>
        <if test="granularity==3">DATE_FORMAT(A.FlightDate time,'%Y年第%u周') time</if>
        <if test="granularity==4">DATE_FORMAT(A.FlightDate time,'%Y-%m-%d %H点') time</if>
        <if test="granularity==0">A.FlightDate time</if>
        from baggage A
        where (A.AbnormalCode!=''
        and A.AbnormalCode is not null)
        and A.FlightDate between #{beginTime} and #{endTime}
        group by A.SpecialBaggageType,A.FlightDate
    </select>
    <select id="drillErrData" resultType="com.entity.dto.BaggageLineData">
        select count(bg.ID) as count,bg.FlightNo type,
        <if test="granularity==1">year(bg.FlightDate) time</if>
        <if test="granularity==2">month(bg.FlightDate)+'月份' time</if>
        <if test="granularity==3">DATE_FORMAT(bg.FlightDate,'%Y年第%u周') time</if>
        <if test="granularity==4">DATE_FORMAT(bg.FlightDate,'%Y-%m-%d %H点') time</if>
        <if test="granularity==0">bg.FlightDate time</if>
        from baggage bg
        LEFT JOIN airline al on al.No = bg.FlightNo
        where bg.FlightDate between #{beginTime} and #{endTime}
        and (A.AbnormalCode!=''
        and A.AbnormalCode is not null)
        <if test="companyCode!=null and companyCode!=''">and al.CompanyCode = #{companyCode}</if>
        <if test="teminal!=null and teminal!=''">
            and al.DepartureTerminal = #{teminal}
            or al.LandingTerminal = #{teminal}
        </if>
        GROUP BY bg.FlightNo,time;
    </select>

    <select id="countEffByAirLine" resultType="com.entity.dto.BaggageLineData">
        <if test="type==0">
            SELECT count(bg.id) count,left(bg.FlightNo,2) type,
            <if test="granularity==1">year(bg.FlightDate) time</if>
            <if test="granularity==2">month(bg.FlightDate)+'月份' time</if>
            <if test="granularity==3">DATE_FORMAT(bg.FlightDate,'%Y年第%u周') time</if>
            <if test="granularity==4">DATE_FORMAT(bg.FlightDate,'%Y-%m-%d %H点') time</if>
            <if test="granularity==0">bg.FlightDate time</if>
            from baggage bg
            where bg.FlightDate between #{beginTime} and #{endTime}
            GROUP BY type, time;
        </if>
        <if test="type==1">
            SELECT count(bg.id) count,al.DepartureTerminal type,
            <if test="granularity==1">year(bg.FlightDate) time</if>
            <if test="granularity==2">month(bg.FlightDate)+'月份' time</if>
            <if test="granularity==3">DATE_FORMAT(bg.FlightDate,'%Y年第%u周') time</if>
            <if test="granularity==4">DATE_FORMAT(bg.FlightDate,'%Y-%m-%d %H点') time</if>
            <if test="granularity==0">bg.FlightDate time</if>
            from baggage bg LEFT JOIN airline al on bg.FlightNo = al.NO
            where bg.FlightDate between #{beginTime} and #{endTime}
            GROUP BY al.DepartureTerminal,time;
        </if>
    </select>

    <select id="countEffByTrace" resultType="com.entity.dto.BaggageLineData">

    </select>

    <select id="countEffByResource" resultType="com.entity.dto.BaggageLineData">

    </select>

    <select id="countEffByBaggage" resultType="com.entity.dto.BaggageLineData">

    </select>

    <select id="drillEffData" resultType="com.entity.dto.BaggageLineData">

    </select>

</mapper>