<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.BigScreenMapper">


    <select id="countByAirPort" resultType="com.entity.dto.BaggageLineData">
        SELECT count(1) count,bg.SourceAirport  type,
        <include refid="com.mapper.BaggageMapper.bgFlightDate" />
        from baggage bg
        where bg.SourceAirport in (
            SELECT  al.DepartureAirport airport from airline al  GROUP BY airport
        )
        GROUP BY type,time
    </select>
</mapper>