<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.BigScreenMapper">

    <resultMap id="BaseResultMap" type="com.entity.dto.BaggageLineData">
        <result column="countType" jdbcType="VARCHAR" property="type" />
    </resultMap>

    <resultMap id="companyResultMap" type="com.entity.dto.CompanyLineData">
        <result column="countType" jdbcType="VARCHAR" property="type" />
    </resultMap>

    <resultMap id="airPortResultMap" type="com.entity.dto.AirPortLineData">
        <result column="countType" jdbcType="VARCHAR" property="type" />
    </resultMap>

    <select id="countByCompany" resultMap="BaseResultMap">
        SELECT count(DISTINCT bg.TagID) count,left(bg.FlightNo,2) countType,
               DATE_FORMAT(bg.FlightDate,'%Y-%m') time
        from baggage  bg
        WHERE bg.FlightDate
            BETWEEN DATE_FORMAT(now(),'%Y') AND now()
            AND bg.IsDeleted != 1
        GROUP BY countType,time
    </select>
    <select id="countBySourceId" resultMap="companyResultMap">
        SELECT count(DISTINCT bg.TagID) count,bg.SourceID countType,left(bg.FlightNo,2) company,
               DATE_FORMAT(bg.FlightDate,'%Y-%m') time
        from baggage  bg
        WHERE bg.FlightDate
            BETWEEN DATE_FORMAT(now(),'%Y') AND now()
            AND bg.IsDeleted != 1
        GROUP BY countType,time,company
    </select>
    <select id="countByAireLineType" resultMap="companyResultMap">
        SELECT count(DISTINCT bg.TagID) count,al.Type countType,left(bg.FlightNo,2) company,
               DATE_FORMAT(bg.FlightDate,'%Y-%m') time
        from baggage  bg  INNER JOIN  airline al
        ON bg.FlightNo = al.`No`
        WHERE bg.FlightDate
            BETWEEN DATE_FORMAT(now(),'%Y') AND now()
            AND bg.IsDeleted != 1
        GROUP BY countType,time,company
    </select>
    <select id="countByBaggageType" resultMap="companyResultMap">
        SELECT count(DISTINCT bg.TagID) count,bg.SpecialBaggageType countType,left(bg.FlightNo,2) company,
               DATE_FORMAT(bg.FlightDate,'%Y-%m') time
        from baggage  bg
        WHERE bg.FlightDate
            BETWEEN DATE_FORMAT(now(),'%Y') AND now()
            AND bg.IsDeleted != 1
        GROUP BY countType,time,company
    </select>

    <select id="countTopFiveAirPort" resultMap="BaseResultMap">
      <if test="time==null or time==''">
        SELECT count(DISTINCT bg.TagID) count,bg.SourceAirport countType,
               DATE_FORMAT(bg.FlightDate,'%Y-%m') time
        from baggage  bg
        WHERE bg.FlightDate
            BETWEEN DATE_FORMAT(now(),'%Y') AND now()
            AND bg.IsDeleted != 1 AND SourceAirport IN
        <foreach collection="list" item="airport" index="index" open="(" close=")" separator=",">
            #{airport}
        </foreach>
        GROUP BY countType,time
      </if>
      <if test="time!=null and time!=''">
          SELECT count(DISTINCT bg.TagID) count,bg.SourceAirport countType,
          DATE_FORMAT(bg.FlightDate,'%Y-%m-%d') time
          from baggage  bg
          WHERE left (bg.FlightDate,7) = #{time}
          AND bg.IsDeleted != 1 AND SourceAirport IN
          <foreach collection="list" item="airport" index="index" open="(" close=")" separator=",">
              #{airport}
          </foreach>
          GROUP BY countType,time
      </if>
    </select>
    <select id="countTopFiveBaggageType" resultMap="airPortResultMap">
        SELECT count(DISTINCT bg.TagID) count,bg.SpecialBaggageType countType,bg.SourceAirport airport,DATE_FORMAT(bg.FlightDate,'%Y-%m') time
        from baggage  bg
        WHERE bg.FlightDate
            BETWEEN DATE_FORMAT(now(),'%Y') AND now()
            AND bg.IsDeleted != 1 AND SourceAirport IN
        <foreach collection="list" item="airport" index="index" open="(" close=")" separator=",">
            #{airport}
        </foreach>
        GROUP BY countType,airport,time
    </select>
    <select id="countByPeak" resultMap="BaseResultMap">
        SELECT count(DISTINCT bt.TagID) count,
               DATE_FORMAT(bt.OperateTime,'%H') countType,
               DATE_FORMAT(bt.OperateTime,'%Y-%m') time
        FROM baggagetrace bt
        WHERE bt.BaggageTraceConfigID IN
            (SELECT ID from baggagetraceconfig btc where btc.NodeName = '安检')
            AND
            DATE_FORMAT(bt.OperateTime,'%Y')=DATE_FORMAT(now(),'%Y')
        GROUP BY countType,time
    </select>
    <select id="getTopFiveAirPort" resultType="java.lang.String">
        SELECT temp.airport FROM(
            SELECT count(DISTINCT bg.TagID) count,bg.SourceAirport airport
            from baggage  bg  GROUP BY airport
        ) temp
        ORDER BY temp.count  desc LIMIT 5
    </select>

    <select id="countByIn" resultType="com.entity.dto.BaggageLineData">
        <if test="time==null">
            SELECT count(DISTINCT bg.TagID) count ,left(bg.FlightNo,2) countType,
            DATE_FORMAT(bg.FlightDate,'%Y') time
            from baggage  bg
            WHERE
            bg.SourceID != 'L' and
            bg.IsDeleted != 1
            GROUP BY countType,time
        </if>
        <if test="time!=null">
            SELECT count(DISTINCT bg.TagID) count ,left(bg.FlightNo,2) countType,
            DATE_FORMAT(bg.FlightDate,'%Y-%m') time
            from baggage  bg
            WHERE
            bg.SourceID != 'L' and
            bg.FlightDate
            BETWEEN #{time} AND now()
            AND bg.IsDeleted != 1
            GROUP BY countType,time
        </if>
    </select>
    <select id="countByOut" resultType="com.entity.dto.BaggageLineData">
        <if test="time==null">
            SELECT count(DISTINCT bg.TagID) count ,left(bg.FlightNo,2) countType,
            DATE_FORMAT(bg.FlightDate,'%Y') time
            from baggage  bg
            WHERE
            bg.SourceID = 'L' and
            bg.IsDeleted != 1
            GROUP BY countType,time
        </if>
        <if test="time!=null">
            SELECT count(DISTINCT bg.TagID) count ,left(bg.FlightNo,2) countType,
            DATE_FORMAT(bg.FlightDate,'%Y-%m') time
            from baggage  bg
            WHERE
            bg.SourceID = 'L' and
            bg.FlightDate
            BETWEEN #{time} AND now()
            AND bg.IsDeleted != 1
            GROUP BY countType,time
        </if>

    </select>
    <select id="getTopFiveCompany" resultType="java.lang.String">
        SELECT temp.company FROM(
            SELECT count(DISTINCT bg.TagID) count,left(bg.FlightNo,2) company
            from baggage  bg  GROUP BY company
        ) temp
        ORDER BY temp.count  desc LIMIT 5
    </select>
    <select id="countTopFiveCompany" resultMap="BaseResultMap">
        <if test="time==null or time==''">
            SELECT count(DISTINCT bg.TagID) count,left(bg.FlightNo,2) countType,
                   DATE_FORMAT(bg.FlightDate,'%Y-%m') time
            from baggage  bg
            WHERE bg.FlightDate
                BETWEEN DATE_FORMAT(now(),'%Y') AND now()
                AND bg.IsDeleted != 1 AND left(bg.FlightNo,2) IN
                <foreach collection="list" item="company" index="index" open="(" close=")" separator=",">
                    #{company}
                </foreach>
            GROUP BY countType,time
        </if>
        <if test="time!=null and time!=''">
            SELECT count(DISTINCT bg.TagID) count,left(bg.FlightNo,2) countType,
            DATE_FORMAT(bg.FlightDate,'%Y-%m-%d') time
            from baggage  bg
            WHERE left (bg.FlightDate,7) = #{time}
            AND bg.IsDeleted != 1 AND left(bg.FlightNo,2) IN
            <foreach collection="list" item="company" index="index" open="(" close=")" separator=",">
                #{company}
            </foreach>
            GROUP BY countType,time
        </if>
    </select>
    <select id="countTopFiveCompanyBaggageType" resultMap="companyResultMap">
        SELECT count(DISTINCT bg.TagID) count,bg.SpecialBaggageType countType,left(bg.FlightNo,2) company,DATE_FORMAT(bg.FlightDate,'%Y-%m') time
        from baggage  bg
        WHERE bg.FlightDate
            BETWEEN DATE_FORMAT(now(),'%Y') AND now()
            AND bg.IsDeleted != 1 AND left(bg.FlightNo,2)  in
        <foreach collection="list" item="company" index="index" open="(" close=")" separator=",">
            #{company}
        </foreach>
        GROUP BY countType,company,time
    </select>
    <select id="countByCollect" resultType="com.entity.dto.BaggageLineData">
        <if test="time==null or time==''">
            select count(1) as count,'baggage' as type, DATE_FORMAT(bg.CreatedTime ,'%Y') time from baggage bg group by time
            union
            select count(1) as count,'baggagetrace' as type, DATE_FORMAT(bt.CreatedTime ,'%Y') time from baggagetrace bt group by time
            union
            select count(1) as count,'flightbaggagetrace' as type, DATE_FORMAT(f.CreatedTime ,'%Y') time from flight f group by time;
        </if>
        <if test="time!=null and time!=''">
            select count(1) as count,'baggage' as type, DATE_FORMAT(bg.CreatedTime ,'%Y-%m') time from baggage bg
            where DATE_FORMAT(bg.CreatedTime ,'%Y')=#{time}  group by time
            union
            select count(1) as count,'baggagetrace' as type, DATE_FORMAT(bt.CreatedTime ,'%Y-%m') time from baggagetrace bt
            where DATE_FORMAT(bt.CreatedTime ,'%Y')=#{time} group by time
            union
            select count(1) as count,'flightbaggagetrace' as type, DATE_FORMAT(f.CreatedTime ,'%Y-%m') time from flight f
            where DATE_FORMAT(f.CreatedTime ,'%Y')=#{time} group by time;
        </if>
    </select>
    <select id="countByErr" resultType="com.entity.dto.BaggageLineData">
        select bg.AbnormalCode type,count(bg.id) count, DATE_FORMAT(bg.FlightDate,'%Y-%m') time from baggage bg
        where (bg.AbnormalCode!='' and bg.AbnormalCode is not null)
        group by type, time
    </select>
    <select id="countTopFiveAirPortErr" resultType="com.entity.dto.AirPortLineData">
        select bg.AbnormalCode type,count(bg.id) count ,bg.SourceAirport airport, DATE_FORMAT(bg.FlightDate,'%Y-%m') time from baggage bg
        where (bg.AbnormalCode!='' and bg.AbnormalCode is not null)
        AND SourceAirport IN
        <foreach collection="list" item="airport" index="index" open="(" close=")" separator=",">
            #{airport}
        </foreach>
        group by type, time,airport
    </select>
    <select id="countByEff" resultType="com.entity.dto.EffectDto">
        select
            #{point} as node,
            sum(TIMESTAMPDIFF(minute,t1.CreatedTime,t2.CreatedTime))/count(1) avgTime,
            max(TIMESTAMPDIFF(minute,t1.CreatedTime,t2.CreatedTime)) maxTime,
            min(TIMESTAMPDIFF(minute,t1.CreatedTime,t2.CreatedTime)) minTime  from
            (select BaggageID,CreatedTime from baggagetrace bt
                inner join baggagetraceconfig btc on bt.BaggageTraceConfigID =  btc.ID
                 where year(createdtime)=year(now()) and btc.NodeName = #{point}) t1
                inner join
                (
                    select BaggageID,CreatedTime from baggagetrace bt
                          inner join baggagetraceconfig btc on bt.BaggageTraceConfigID =  btc.ID
                    where year(createdtime)=year(now()) and btc.NodeName = #{nextPoint}
                )t2
                ON  t1.BaggageID = t2.BaggageID
    </select>
</mapper>